$body-width:100%;
$container-padding:25px 0;
$container-max-width:1440px;
$container-min-width:375px;
$margin-center:0 auto;
$body-font-size:15px;
$body-font-family:'Lexend Deca';
$white:#fff;
$bright-orange:#E28726;
$dark-cyan:#006870;
$very-dark-cyan:#004241;
$font-bolder:700;
$column-width:29%/*33%*/;
$column-width-media:86%/*100%*/;
$column-float:left;
$column-padding:2%;
$column-padding-media:6%;
$font-color:#fff;
$margin-bottom-img:25px;
$margin-bottom-paragraph:65px;
$a-padding:10px 30px;
$a-width:85px;
$inherit:transparent;

body {
    width:$body-width;
    font-size:$body-font-size;
    font-family:$body-font-family;
    color:$font-color;
}
.container {
    max-width:$container-max-width;
    min-width:$container-min-width;
    margin: $margin-center;
    overflow:hidden;
    padding:$container-padding;
}
.column {
    width:$column-width;
    float:$column-float;
    padding:$column-padding;
}
.column.sedans {
    background:$bright-orange;
    border-radius:10px 0 0 10px;
}
.column.suvs {
    background:$dark-cyan;
}
.column.luxury {
    background:$very-dark-cyan;
    border-radius:0 10px 10px 0;
}
.column img {
    margin-bottom:$margin-bottom-img; 
}
.column h1 {
    font-weight:$font-bolder;
}
.column p {
    margin-bottom:$margin-bottom-paragraph;
}
.column a {
    width:$a-width;
    background:$white;
    padding:$a-padding;
    display: block;
    text-decoration:none;
    border-radius:25px;
    border:solid 3px $inherit;
    text-align:center;
}
.column a:hover {
    background:$inherit;
    border:solid 3px $white;
    width:$a-width;
    padding:$a-padding;
    display: block;
    text-decoration:none;
    border-radius:25px;
    cursor:pointer;
}
.column.sedans a {
    color:$bright-orange;
}
.column.suvs a {
    color:$dark-cyan;
}
.column.luxury a {
    color:$very-dark-cyan;
}
.column.sedans a:hover {
    color:$white;
}
.column.suvs a:hover {
    color:$white;
}
.column.luxury a:hover {
    color:$white;
}


/*****Mediaqueries******/

@media screen and (min-width: 375px) and (max-width: 767px) {
    .column {
        width:$column-width-media;
        margin:$margin-center;
        padding:$column-padding-media;
    }
    .column.sedans {
        border-radius:10px 10px 0 0;
    }
    .column.luxury {
        border-radius:0 0 10px 10px;
    }
}
